body {
  background-color: #F5F5F5;
}
.red {
    color : red
}
.ball-go {
    position:absolute;
    z-index: 10;
    left: 500px;
    top: 270px;
}
.ball-go > img {
    border-radius: 50%;
}
.red-ball {
    border: 5px solid red;
}
.green-ball {
    border: 5px solid green;
}
.ball-go .action-arrow-forward {
    position: absolute;
    top: 15px;
    left: 115%;
}
.ball-go .action-arrow-up {
    position: absolute;
    bottom: 112%;
    left: 15px;
}
.ball-go .action-arrow-down {
    position: absolute;
    top: 107%;
    left: 15px;
}
.ball-go .action-arrow-back {
    position: absolute;
    top: 15px;
    right: 115%;
}
.player {
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0;
    border: 8px solid black;
    border-radius: 50%;
}
.player-1 {
    border-color: #47b347;
}
.player-2 {
    border-color: #e06a6a;
}
.stati {
    position:absolute;
    right: 20px
}

.right-top {
    position:absolute;
    right:0px;
    top:0px
}

.bottom-center {
    position:absolute;
    align:center;
    bottom:0px;
}

.counter {
    position:absolute;
    bottom:5px;
    right:5px;
}