body {
  background-color: #F5F5F5;
}

.red {
    color : red
}
.ball-go {
    position:absolute;
    left: 500px;
    top: 270px;
}
.stati {
    position:absolute;
    right: 20px
}

.right-top {
    position:absolute;
    right:0px;
    top:0px
}

.bottom-center {
    position:absolute;
    align:center;
    bottom:0px;
}