body {
  background-color:#9DC183;
}
.menu {
    position:absolute;
    right:73%;
}
.description-style {
    position:absolute;
    left:32%;
}

button {
    background: #74a8bf;
    border: none;
    border-radius: 15px;
}

.sm {
    font-size: 30px;
    color: red;
}